<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | Ecommerce Website Design</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo2.png" alt="logo" width="150px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">

                        <li><a href="products-iphone.jsp">iPhone</a></li>
                        <li><a href="products-mac.jsp">Mac</a></li>
                        <li><a href="products-ipad.jsp">iPad</a></li>
                        <li><a href="products-watch.jsp">Watch</a></li>
                    </ul>
                </nav>

                <div class="search-box">
                    <button class="btn-search"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <input type="text" class="input-search" placeholder="iPhone 13...">
                </div>

                <a href="cart.jsp">
                    <img src="assets/images/cart.png" width="40px" height="40px">
                    <span class="header__cart-notice">
                        3
                    </span>
                </a>



                <div id="link-account">
                    <a href="account.html"><img src="assets/images/account.png" width="40px" height="40px"></a>
                </div>
                <div id="link-sign-in" style="display: block; margin-left: 35px;"><a href="./signIn.html">
                        <p>Đăng nhập</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Offer -->
    <div class="offer about-content">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="./assets/images/about/apple_staff_4x-removebg-preview.png">
                </div>
                <div class="col-2">
                    <h1>ĐẠI LÝ ỦY QUYỀN</h1>
                    <p>Từ tháng 09/2020, ASTORE – chính thức là đại lý uỷ quyền Apple (Apple Authorized Reseller) tại
                        Việt Nam. </p>
                    <a href="" class="btn">Xem video</a>
                </div>

            </div>
        </div>
    </div>

    <div class="offer about-content">
        <div class="small-container">
            <div class="row">

                <div class="col-2">
                    <h1>DÒNG SẢN PHẨM</h1>
                    <p>Toàn bộ sản phẩm bao gồm iPhone, iPad, MacBook, Apple Watch, cho tới AirPods và nhiều sản phẩm
                        phụ kiện… đều là hàng chính hãng được phân phối thông qua công ty Apple Việt Nam.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="./assets/images/about/product.png">
                </div>
            </div>
        </div>
    </div>


    <div class="offer about-content">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="./assets/images/about/9879bb3d83fba3127e5415ad6e558650.jpg">
                </div>
                <div class="col-2">
                    <h1>CỬA HÀNG ASTORE</h1>
                    <p>Ðội ngũ chuyên viên tư vấn
                        của ShopDunk được đào tạo bài bản bởi các chuyên gia Apple, sẵn sàng hỗ trợ khách hàng về sản
                        phẩm, kỹ thuật, ứng dụng hay các công nghệ mới nhất từ Apple.</p>
                    <a href="" class="btn">Explore Now &#8594;</a>
                </div>

            </div>
        </div>
    </div>




    <!-- Testimonial -->
    <div class="testimonial">
        <div class="small-container">
            <h1 class="title color-white"> <i class="fa fa-apple" aria-hidden="true"></i> ĐỘI NGŨ PHÁT TRIỂN</h2>
                <div class="row">
                    <div class="col-3 about-us">
                        <i class="color-white fa fa-quote-left"></i>
                        <p class="color-white">Lorem ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been
                            industry's standard dummy text.</p>
                        <img src="./assets/images/cofounder/loc.jpg">
                        <h3 class="color-white">Thành Lộc</h3>
                    </div>
                    <div class="col-3 about-us">
                        <i class="color-white fa fa-quote-left"></i>
                        <p class="color-white">Lorem ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been
                            industry's standard dummy text.</p>
                        <img src="./assets/images/cofounder/thanh.jpg">
                        <h3 class="color-white">Văn Thanh</h3>
                    </div>
                    <div class="col-3 about-us">
                        <i class="color-white fa fa-quote-left"></i>
                        <p class="color-white">Lorem ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been
                            industry's standard dummy text.</p>
                        <img src="./assets/images/cofounder/minh.jpg">
                        <h3 class="color-white">Văn Minh</h3>
                    </div>
                </div>
        </div>
    </div>

    <!-- Brands -->

    <!-- <div class="brands">
        <div class="small-container">
            <div class="row">
                <div class="col-5">
                    <img src="./Assets/images/logo-godrej.png">
                </div>
                <div class="col-5">
                    <img src="./Assets/images/logo-oppo.png">
                </div>
                <div class="col-5">
                    <img src="./Assets/images/logo-coca-cola.png">
                </div>
                <div class="col-5">
                    <img src="./Assets/images/logo-paypal.png">
                </div>
                <div class="col-5">
                    <img src="./Assets/images/logo-philips.png">
                </div>
            </div>
        </div>
    </div> -->

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-3">
                    <h3>Hệ thống cửa hàng</h3>
                    <ul>
                        <li><a href="">Nội quy cửa hàng</a></li>
                        <li><a href="">Chất lượng dịch vụ</a></li>
                        <li><a href="">Xem 4 cửa hàng</a></li>
                        <li><a href="">Bảo hành và đổi trả</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Hỗ trợ khách hàng</h3>
                    <ul>
                        <li><a href="">Điều kiện giao dịch chung</a></li>
                        <li><a href="">Hướng dẫn mua hàng online</a></li>
                        <li><a href="">Chính sách giao hàng</a></li>
                        <li><a href="">Hướng dẫn thanh toán</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <h3>Về thương hiệu ASTORE</h3>
                    <ul>
                        <li><a href="">Giới thiệu về ASTORE</a></li>
                        <li><a href="">Bán hàng doanh nghiệp</a></li>
                        <li><a href="">Chính sách bảo mật thông tin</a></li>
                        <li><a href="">Chính sách ưu đãi</a></li>
                    </ul>
                </div>
                <div class="footer-col-3">
                    <a href="./index.html">
                        <img src="assets/images/logo1.png" />
                    </a>
                    <p>Trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple tới toàn bộ người dùng tại Việt Nam.
                    </p>
                </div>
            </div>
            <hr>
            <p class="copyright"> © 2018. Công ty AGROUP0. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007.
            </p>
            <p class="copyright"> GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày 04/06/2020. </p>
        </div>
    </div>

    <!-- javascript -->

    <script src="./assets/js/about.js"></script>

</body>
</html>
