<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Đặt lại mật khẩu</title>
    <link
      rel="stylesheet"
      href="./fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="./assets/css/resetPass.css" />
    <link rel="stylesheet" href="./assets/css/sign.css" />
  </head>

  <body>
    <div class="container-sign">
      <div class="container-heder">
        <div class="img-logo">
          <a href="./index.html">
            <img src="./assets/images/logo2.png" alt="Astore" width="150px"
          /></a>
        </div>
        <p class="tille-sign" id="tilte-text">Đặt lại mật khẩu</p>
        <p class="sp-sign">
          <a href="help.jsp" style="text-decoration: none; color: white"
            >Trợ giúp?</a
          >
        </p>
      </div>
      <div class="container-section">
        <div class="container-reset">
          <div class="heder-reset" id="heder-set">
            <div class="back-reset" id="back-set" onclick="history.back()">
              <i class="fas fa-chevron-left fa-2x"></i>
            </div>
            <div class="text-reset">
              <p id="text-rs">Thiết Lập Mật Khẩu</p>
            </div>
          </div>
          <div class="form-rs-1" style="margin: 16px 0px">
            <form action="" id="form-set">
              <div class="form-group">
                <input
                  type="password"
                  name="password-set"
                  class="form-reset"
                  id="pwd-set"
                  placeholder="Mật khẩu"
                />
                <small class="form-message"></small>
              </div>
            </form>
          </div>
          <p class="text-condition-set">
            Mật khẩu phải có độ dài từ 8-16 ký tự (bao gồm ít nhất 1 ký tự
            <br />viết hoa và 1 ký tự viết thường).
          </p>
          <button disabled class="btn-form-sign" id="agree-set">ĐỒNG Ý</button>
          <div id="popUpOverlay"></div>
          <div id="popUpBox">
            <div id="box">
              <i class="far fa-check-circle fa-3x" style="color: lime"></i>
              <p>Xin chúc mừng!</p>
              <p style="font-size: 11px">Bạn đã lấy lại mật khẩu thành công.</p>
              <div id="closeModal"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-container">
          <div class="row">
            <div class="footer-col-3">
              <h3>Hệ thống cửa hàng</h3>
              <ul>
                <li><a href="">Nội quy cửa hàng</a></li>
                <li><a href="">Chất lượng dịch vụ</a></li>
                <li><a href="">Xem 4 cửa hàng</a></li>
                <li><a href="">Bảo hành và đổi trả</a></li>
              </ul>
            </div>
            <div class="footer-col-3">
              <h3>Hỗ trợ khách hàng</h3>
              <ul>
                <li><a href="">Điều kiện giao dịch chung</a></li>
                <li><a href="">Hướng dẫn mua hàng online</a></li>
                <li><a href="">Chính sách giao hàng</a></li>
                <li><a href="">Hướng dẫn thanh toán</a></li>
              </ul>
            </div>
            <div class="footer-col-3">
              <h3>Về thương hiệu ASTORE</h3>
              <ul>
                <li><a href="">Giới thiệu về ASTORE</a></li>
                <li><a href="">Bán hàng doanh nghiệp</a></li>
                <li><a href="">Chính sách bảo mật thông tin</a></li>
                <li><a href="">Chính sách ưu đãi</a></li>
              </ul>
            </div>
            <div class="footer-col-3">
              <a href="./index.html">
                <img src="assets/images/logo1.png" />
              </a>
              <p>
                Trải nghiệm tốt nhất về sản phẩm và dịch vụ của Apple tới toàn
                bộ người dùng tại Việt Nam.
              </p>
            </div>
          </div>
          <hr />
          <p class="copyright">
            © 2018. Công ty AGROUP0. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp
            ngày 02/01/2007.
          </p>
          <p class="copyright">
            GPMXH: 238/GP-BTTTT do Bộ Thông Tin và Truyền Thông cấp ngày
            04/06/2020.
          </p>
        </div>
      </div>
    </div>

    <script src="./assets/js/script.js"></script>
    <script src="./assets/js/setpwd.js"></script>
  </body>
</html>
